:root{
    --text-color: #ffffff;
    --bg-color: #2c2c2c;
    --secondary-text-color: rgb(255,87,34);
    --secondary-bg-color: #1e1e1e;
}

header{
    background-color: var(--secondary-text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(to right, var(--secondary-bg-color), var(--secondary-text-color));
    box-shadow:0px 0px 10px rgba(0, 0, 0, .5);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 50px;
    position: relative;
}

.header-left h1{
    font-size: 60px !important;
}

.header-left {
    flex: 1;
    text-align: left;
    padding-left: 50px;
    position: relative;
}

.header-left h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header-left p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 400px;
}

.header-right {
    flex: 1;
    position: relative;
}

.header-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

body{
    margin: 25px;
    padding-top: 550px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.black{
    position: absolute;
    background-color: var(--secondary-bg-color);
    top: 500px;
    width: 100%;
    left: 0;
    height: 47.5px;
}

.tornasu{
    text-align: center;
    transition: .3s;
    color: var(--secondary-text-color);
}

.tornasu:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: .3s;
}

nav{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: -75px;
    position: sticky;
    top: 25px;
    z-index: 1000;
}

nav .container{
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 25px;
    box-shadow:3px 3px 10px var(--secondary-bg-color);
    display: flex;
}

nav .container a{
    color: var(--text-color);
    text-decoration: none;
    margin-inline: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: .2s;
    position: relative;
}

nav .container a:hover{
    color: var(--secondary-text-color);
    font-size: 20px;
    transition: .2s;
}

nav i {
    font-size: small !important;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    top: -350px;
    left: -25%;
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: .2s;
    z-index: 2;
}

.dropdown-content a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 0;
}

.dropdown-content a:hover {
    font-size: 18px !important;
}

.dropdown:hover{ 
    .dropdown-content {
        transform: translateY(370px);
        opacity: 1;
        transition: .2s;
    }
}

.container a.online{
    color: var(--secondary-text-color);
    font-size: 20px;
}

.primary-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-block: 50px;
}

.box{
    position: relative;
    background-color: blue;
    text-align: center;
    width: 300px;
    height: 300px;
    line-height: 300px;
    overflow: hidden;
    cursor: pointer;
    box-shadow:3px 3px 10px var(--secondary-bg-color);
}

.box h3{
    transition: .3s;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.box img{
    width: 300px;
    z-index: 1;
    position: relative;
}

img.box-sec{
    position: absolute;
    margin-top: -20px;
    margin-left: -150px;
    visibility: hidden;
    transition: .3s;
    z-index: 2;
}

h3.box-sec{
    justify-content: center;
    background-color: #1e1e1e;
    position: absolute;
    top: 265px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    visibility: hidden;
    z-index: 2;
}

.box:hover img.box-sec,
.box:hover h3.box-sec{
    visibility: visible;
    z-index: 3;
}

.box:hover img.box-sec{
    transform: translateY(-317.5px);
    transition: .5s;
    transition-delay: .2s;
}

.box:hover h3.box-sec{
    transform: translateY(-65px);
    transition: .5s;
    transition-delay: .15s;
}

.contact li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 23px;
}

.contact li a:hover{
    color: var(--secondary-text-color);
    text-decoration: underline;
}

.contact ul li{
    list-style: none;
    margin-block: 20px;
    margin-left: -40px;
}

.contact i{
    color: var(--secondary-text-color);
    margin-right: 15px;
}

.info p, .info h4{
    margin-inline: 50px;
}

.info {
    background-color: var(--secondary-bg-color);
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow:3px 3px 10px var(--secondary-bg-color);
}

.info p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.description{
    margin-inline: 10%;
    margin-top: 25px;
}

.description li{
    font-size: 18px;
}

.customization {
    margin-bottom: 15px;
}

.customization h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.customization ul {
    padding-left: 65px;
}

.customization ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

.info h4 {
    color: var(--secondary-text-color);
}

footer {
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
    margin-inline: 50px;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.footer-info, .footer-social {
    flex: 1;
}

.footer-info {
    text-align: left;
    padding-left: 20px;
}

.footer-info p{
    transition: .3s;
    cursor: default;
}

.footer-social {
    text-align: right;
    padding-right: 20px;
}

.footer-social a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social a:hover, .footer-info p:hover {
    color: var(--secondary-text-color);
    transition: .3s;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info, .footer-social {
        padding: 10px;
    }

    .footer-social {
        margin-top: 10px;
    }
}

@media screen and (max-width:1800px){
    body{
        font-size: 12.5px;
    }
    .box{
        width: 200px;
        height:200px;
    }
    .box img{
        width: 200px;
        margin-left: -100px;
        margin-top: 50px;
    }
    h3.box-sec{
        margin-top: -115px;
        width: 200px;
    }
    .box h3{
        margin-top: -50px;
    }
}